# Data
data/*.csv
data/*.xlsx

# Models
models/

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Logs
logs/
*.log

# OS
.DS_Store
